<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        >

    <testsuites>
        <testsuite name="Unit tests">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
